body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(233, 212, 250);
}


/* position of the "LANCER LA PARTIE" btn */
.start-45 {
    left: 45%;
}

