body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* position of the "LANCER LA PARTIE" btn */
.start-45 {
    left: 45%;
}

/* position of the rules icon */
.end-1 {
    right: 1%;
}

/* position of "Aimez-vous" */
.text-lavender {
    color: #e9d4fa;
}

/* Background color */
.bg-lavender {
    background-color: #e1dbf7;
}